NEXT_PUBLIC_APP_NAME=رِفْق

# Quran
ALQURAN_CLOUD_BASE_URL=https://api.alquran.cloud/v1

# Tafsir
QURANENC_BASE_URL=https://quranenc.com/api/v1
QURANENC_TAFSIR_KEY=arabic_mokhtasar

# Hadith
HADITH_PROVIDER=hadeethenc
HADEETHENC_BASE_URL=https://hadeethenc.com/api/v1

# Optional old providers
DORAR_API_URL=https://dorar.net/dorar_api.json
SUNNAH_BASE_URL=https://api.sunnah.com/v1
SUNNAH_API_KEY=

# Azkar
AZKAR_SOURCE_URL=https://raw.githubusercontent.com/rn0x/hisn_almuslim_json/main/hisn_almuslim.json

# Prayer Times
ALADHAN_BASE_URL=https://api.aladhan.com/v1



QURAN_STATIC_SURAH_LIST=true
AZKAR_SOURCE_MODE=static


# Reports storage
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
